* {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: 1s;
}

.navbar__brand {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar__brand__logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px;
}

.navbar__brand__add {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
}

#bars {
  display: flex;
  align-items: center;
  color: white;
}
